html {
position: absolute;
}
.imagen{
position:fixed;
left: 0%;
top: 0%;
transform: translate(0%, 0%);
width: 1200px;
height: 600px;
}
@media(max-width: 600px){
    .imagen{
    position:fixed;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    width: 550px;
    height: auto;
    }
}

.imagenInterfaz{
    height: 620px;
    width: 1370px;
    position: absolute;
    margin: -10%;
}
@media (max-width: 600px){
    .imagenInterfaz{
        height: auto;
        width: 590px;
        position: absolute;
        margin: -10%;
    }
}


#regresar1{ 
    padding: 1px 2px;
    color: rgb(88, 114, 199);
    position: absolute;
    top: 90%;
    right: -30%;
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2vw;
    transition: all .5s;
    background-color: #00233f;
}
@media(max-width: 600px){
    .regresar1{
        position:fixed ;             
        justify-content: center;
        width: 100px;
        height: 50px;
        top: 70%;
        left: 20%;
        color: #001aac;
        background: #04031f;
        box-shadow: -5px -5px 15px #030322, 5px 5px 15px #1a0b5f, inset 5px 5px 10px #030555, inset -5px -5px 10px #110169;
        text-align: center;
        font-size: large;
    }
}

    #regresar{ 
        padding: 1px 2px;
        color: rgb(141, 89, 0);
        position: absolute;
        top: 45%;
        right: 0%;
        font-family: 'Rubik One', sans-serif;
        text-decoration: none;
        border-radius: 10px;
        font-size: 2vw;
        transition: all .5s;
        background-color: #00233f;
    }
    @media(max-width: 600px){
        #regresar{
            position: absolute;
            width: 100px;
            height: 25px;
            position: absolute;
            transform: translate(50%, -100%);
            color: #001aac;
            background: #04031f;
            box-shadow: -5px -5px 15px #030322, 5px 5px 15px #1a0b5f, inset 5px 5px 10px #030555, inset -5px -5px 10px #110169;
            text-align: center;
            font-size: large;
        }
    }

        #regresar2{ 
            padding: 1px 2px;
            color: rgb(153, 130, 0);
            position: absolute;
            top: 95%;
            right: -5%;
            font-family: 'Rubik One', sans-serif;
            text-decoration: none;
            border-radius: 10px;
            font-size: 2vw;
            transition: all .5s;
            background-color: #120258;
        }
        @media (max-width: 600px){
            #regresar2{
                position: absolute;
                width: 100px;
                height: 25px;
                position: absolute;
                transform: translate(90%, 80%);
                color: #7b7b80;
                background: #04031f;
                box-shadow: -5px -5px 15px #030322, 5px 5px 15px #1a0b5f, inset 5px 5px 10px #030555, inset -5px -5px 10px #110169;
                text-align: center;
                font-size: large;
        }}
        
#divForm{
position: absolute;
justify-content: center;
top: 20%;
left: 35%;
margin: 10px;
padding: 30px;
color: #ac9a00;
background: #04031f;
box-shadow: -5px -5px 15px #030322, 5px 5px 15px #1a0b5f, inset 5px 5px 10px #030555, inset -5px -5px 10px #110169;
border-radius: 50px;
text-align: center;
}

@media (max-width: 600px){
    #divForm{
        position: absolute;
        justify-content: center;
        top: 20%;
        left: 35%;
        margin: 10px;
        padding: 10px;
        color: #ac9a00;
        background: #04031f;
        box-shadow: -5px -5px 15px #030322, 5px 5px 15px #1a0b5f, inset 5px 5px 10px #030555, inset -5px -5px 10px #110169;
        border-radius: 50px;
        text-align: center;
}}

.input{
align-self: center;
width: 100%;
height: 30px;
border-radius: 10px;
}

.dato{
font-size:medium;
font-family:'Times New Roman', Times, serif;

}

#guardado{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
transform: translate(0%, 40%);
margin: 10px;
size: 30px;
font-size: center;
margin: 3.7px;
padding: 10px 10px;
text-align: center;
border-radius: 15px;
align-items: center;
cursor: pointer;
background: rgb(19, 7, 121);
}

#guardado:hover{
background-color: gold;
}

.fondo {
height: 563px;
padding: 0px;
margin: 0px;
width: 1355px;

}
.titulo1 {
position: fixed;
font-family: 'Josefin Sans', sans-serif;
font-size: 70px;
color: #818181;
text-align: center;
right: 35%;
top: 20px;
}
@media (max-width: 600px){
    .titulo1 {
        position: fixed;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        color: #ffffff;
        text-align: center;
        top: 30px;
        left: 35%;
    }
}
 #letraPequeña{
width: 150px;
height: 50px;
transform: translate(1200px, 450px);
font-family: 'Josefin Sans', sans-serif;
font-size: 10px;
color: #88888b;
text-align: left;
 }

@media (max-width: 600px){
    #letraPequeña{
        width: 150px;
        height: 25px;
        transform: translate(400px, 300px);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 7px;
        color: #ffffff;
        text-align: left;
    }

}


.container{
top: 220px;
position: fixed;
background: transparent;
}


#bodegas{
height: 70px;
width: 150px;
transform: translate(120%, -100%);
margin: 5px;
cursor: pointer;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #0002853f;
box-shadow: -5px -5px 15px #868686, 5px 5px 15px #ffffff, inset 5px 5px 10px #010233, inset -5px -5px 10px #050130;
color: #ffffff;
font-weight: 900;
font-size: large;
}
@media (max-width: 600px){
    #bodegas {
        height: 40px;
        width: 45px;
        transform: translate(300%, -300%);
        margin: 1px;
        cursor: pointer;
        border-radius: 4px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: #a8915f;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #181313;
        font-weight: 900;
        font-size: 8px;
        }
}

#bodegas:hover{
background-color: rgb(17, 17, 65);
}

.botones171a{
    transform: translate(70%, -20%);
    background-color: transparent;
    color: rgb(223, 212, 190);
    border-color: transparent;
    font-size: center;
    margin: 2.3px;  
    padding: 110px 20.5px;
    text-align: center;
    border-radius: 4px;
    cursor:grab;
    align-items: center;
    cursor: pointer;
    background: papayawhip;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    color: #222;
    }

@media (max-width: 600px){
    .botones171a{
        transform: translate(80%, -50%);
        padding: 5px;
        width: 20px;
        height: 120px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 10px;
        border-radius: 0px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: papayawhip;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #222;
        }

}
.botones171a:hover{
background-color: rgb(168, 144, 9);
}

#cancelar{
position: absolute;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
transform: translate(120%, 100%);
margin: 10px;
size: 30px;
font-size: center;
margin: 3.7px;
padding: 10px 10px;
text-align: center;
border-radius: 15px;
align-items: center;
cursor: pointer;
background: #795512;
}

#cancelar:hover{
background-color: gold;
}
.imagen186{
position:fixed;
left: 0%;
top: 5%;
transform: translate(0%, 0%);
width: 1000px;
height: 600px;
}
@media(max-width: 600px){
    .imagen186{
    position:fixed;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    width: 550px;
    height: auto;
    }
}


#cancelar1{
position: absolute;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
transform: translate(180%, -500%);
margin: 10px;
size: 30px;
margin: 3.7px;
padding: 10px 10px;
border-radius: 15px;
align-items: center;
cursor: pointer;
background: #795512;
}

#cancelar1:hover{
background-color: gold;
}

.botones171c{
transform: translate(80%, 90%);
background-color: transparent;
color: rgb(223, 212, 190);
border-color: transparent;
font-size: center;
padding: 15px 28px;
margin: 1px;
text-align: center;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #d1cfca;
box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
color: #222;
}

@media (max-width: 600px){
    .botones171c{
        transform: translate(120%, -40%);
        background-color: transparent;
        color: rgb(223, 212, 190);
        border-color: transparent;
        font-size: center;
        margin: 0px;
        margin-left: -10px;
        padding: 5.2px 8.2px;
        text-align: center;
        border-radius: 0px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: rgb(147, 147, 150);
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #222;
        }
        
}

.botones171c:hover{
background-color: rgb(168, 144, 9);
}
.botones186-e{
position:relative;
transform: translate(180%, 140%);
height: 33px;
width: 45px;
margin-left: 2px;
color: rgb(223, 212, 190);
border-color: transparent;
font-size: center;
text-align: center;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #d1cfca;
box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
color: #222;
}

@media (max-width: 600px){
    .botones186-e{
        position:relative;
        transform: translate(180%, 20%);
        height: 21px;
        width: 26px;
        margin-left: -4px;
        color: rgb(223, 212, 190);
        border-color: transparent;
        font-size: center;
        text-align: center;
        border-radius: 4px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: #d1cfca;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #222;
}}

.botones186-e:hover{
background-color: rgb(168, 144, 9);
}

.botones186-ei{
transform: translate(180%, 70%);
position: relative;
height: 68px;
width: 45px;
margin-left:2px;
margin-top: 0px;
color: rgb(223, 212, 190);
border-color: transparent;
font-size: center;
text-align: center;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #d1cfca;
box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
color: #222;
}

@media (max-width: 600px){
    .botones186-ei{
        position:relative;
        transform: translate(180%, 30%);
        height: 45px;
        width: 26px;
        margin-left: -4px;
        color: rgb(223, 212, 190);
        border-color: transparent;
        font-size: center;
        text-align: center;
        border-radius: 4px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: #d1cfca;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #222;
}}

.botones186-ei:hover{
background-color: rgb(168, 144, 9);
}

.botones186-eo{
position:relative;
transform: translate(180%, 80%);
height: 33px;
width: 41px;
margin-top: 0px;
color: rgb(223, 212, 190);
border-color: transparent;
font-size: center;
text-align: center;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #d1cfca;
box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
color: #222;
}
@media (max-width: 600px){
    .botones186-eo{
        position:relative;
        transform: translate(180%, -150%);
        height: 21px;
        width: 23px;
        margin-left: -4px;
        color: rgb(223, 212, 190);
        border-color: transparent;
        font-size: center;
        text-align: center;
        border-radius: 4px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: #d1cfca;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #222;
}}

.botones186-eo:hover{
background-color: rgb(168, 144, 9);
}
.botones186-eio{
position:relative;
transform: translate(182%, 50%);
height: 60px;
width: 41px;
margin-top: 0px;
padding: 0%;
color: rgb(223, 212, 190);
border-color: transparent;
font-size: center;
text-align: center;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #d1cfca;
box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
color: #222;
}

@media (max-width: 600px){
    .botones186-eio{
        position:relative;
        transform: translate(180%, -60%);
        height: 40px;
        width: 23px;
        margin-left: -4px;
        color: rgb(223, 212, 190);
        border-color: transparent;
        font-size: center;
        text-align: center;
        border-radius: 4px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: #d1cfca;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #222;
}}

.botones186-eio:hover{
background-color: rgb(168, 144, 9);
}
.botones186-f{
position:relative;
transform: translate(172%, 120%);
height: 27px;
width: 43.8px;
margin-top: 0px;
padding: 0%;
color: rgb(223, 212, 190);
border-color: transparent;
font-size: center;
text-align: center;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #d1cfca;
box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
color: #222;
}
@media (max-width: 600px){
    .botones186-f{
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 20px;
}}

.botones186-f:hover{
background-color: rgb(168, 144, 9);
}
.botones186-fi{
position:relative;
transform: translate(152%, 120%);
height: 26px;
width: 42.8px;
margin-top: 0px;
padding: 0%;
color: rgb(223, 212, 190);
border-color: transparent;
font-size: center;
text-align: center;
border-radius: 4px;
cursor:grab;
align-items: center;
cursor: pointer;
background: #d1cfca;
box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
color: #222;
}  
@media (max-width: 600px){
    .botones186-fi{
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 20px;
}}

.botones186-fi:hover{
background-color: rgb(168, 144, 9);
}
.imagen187{
position:fixed;
left: 0%;
top: 5%;
transform: translate(0%, 0%);
width: 1000px;
height: 580px;
}     
@media(max-width: 600px){
    .imagen187{
    position:fixed;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    width: 550px;
    height: auto;
    }
}

.botones187{
    position: relative;
    transform: translate(152%, -100%);
    height: 33px;
    width: 55px;
    padding: 0%;
    color: rgb(223, 212, 190);
    border-color: transparent;
    font-size: center;
    text-align: center;
    border-radius: 4px;
    cursor:grab;
    align-items: center;
    cursor: pointer;
    background: #d1cfca;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    color: #222;
}
@media (max-width: 600px){
    .botones187{
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 20px;
}}

.botones187:hover{
background-color: rgb(168, 144, 9);
}
.botones187h{
    position: relative;
    transform: translate(152%, -42%);
    height: 66px;
    width: 55px;
    padding: 0%;
    color: rgb(223, 212, 190);
    border-color: transparent;
    font-size: center;
    text-align: center;
    border-radius: 4px;
    cursor:grab;
    align-items: center;
    cursor: pointer;
    background: #d1cfca;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    color: #222;
}
@media (max-width: 600px){
    .botones187h{
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 20px;
}}

.botones187h:hover{
background-color: rgb(168, 144, 9);
}
.botones188{
    position: relative;
    transform: translate(152%, -172%);
    height: 23px;
    width: 54px;
    padding: 0%;
    margin: 2.8px 0 0;
    color: rgb(223, 212, 190);
    border-color: transparent;
    font-size: center;
    text-align: center;
    border-radius: 4px;
    cursor:grab;
    align-items: center;
    cursor: pointer;
    background: #d1cfca;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    color: #222;
}
@media (max-width: 600px){
    .botones188{
        grid-template-columns: repeat(auto-fill, 40px);
        gap: 20px;
}}

.botones188:hover{
background-color: rgb(168, 144, 9);
}
.boton{
    transform: translate(300%, 100%);
    justify-items: center;
    height: 200px;
    width: 200px;
    padding: 0%;
    margin: 2.8px 0 0;
    color: rgb(223, 212, 190);
    border-color: transparent;
    font-size: center;
    text-align: center;
    border-radius: 4px;
    cursor:grab;
    align-items: center;
    cursor: pointer;
    background: #d1cfca;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    color: #222;
}
@media (max-width: 600px){
    .boton{
        transform: translate(200%, 100%);
        justify-items: center;
        height: 50px;
        width: 50px;
        padding: 0%;
        margin: 2.8px 0 0;
        color: rgb(223, 212, 190);
        border-color: transparent;
        font-size: center;
        text-align: center;
        border-radius: 4px;
        cursor:grab;
        align-items: center;
        cursor: pointer;
        background: #d1cfca;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
        color: #222;
}}

@media (max-width: 600px){
    #divForm{
        position: absolute;
        justify-content: center;
        top: 20%;
        left: 0%;
        margin: 2px;
        padding: 5px;
        color: #ac9a00;
        background: #04031f;
        box-shadow: -5px -5px 15px #030322, 5px 5px 15px #1a0b5f, inset 5px 5px 10px #030555, inset -5px -5px 10px #110169;
        border-radius: 3px;
        text-align: center;
}}
.boton199{
    width: 1100px;
    height: 500px;
}
@media (max-width: 600px){
    .boton199{
        width: 400px;
        height: 400px;
    
}}
